* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    min-width: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#location {
    padding-top: 30px;
    font-size: 30px;
}

#temp {
    font-size: 50px;
    font-weight: lighter;
}

#change-units {
    padding-bottom: 30px;
}
