* {
    box-sizing: border-box;
}

body {
    font-family: 'Sahitya', serif;
}


/* Main section */

.row {
    margin-top: 50px;
}

.card {
    background-color: #4a148c !important;
}

.card-title {
    padding-left: 20px;
}

.card-action a {
    text-decoration: none;
}

#game {
    font-weight: bold;
    font-size: 18px;
}
